package {{.Package}}

import (
	"go.opentelemetry.io/otel/attribute"
	semconv "go.opentelemetry.io/otel/semconv/v1.40.0"
)

{{ range $arg := .Attributes }}
// {{.Name}} returns the corresponding KeyValue.
func {{.Name}}(id string) attribute.KeyValue {
	switch {
	{{ range $k, $v := .Map -}}
	case {{ $k }}:
		return semconv.{{ $arg.New }}({{ $v }})
	{{ end -}}
	default:
	}
	{{ if (ne .Default "") -}}
	return attribute.{{ $arg.New }}({{ .Default }})
	{{- else -}}
	return attribute.KeyValue{}
	{{- end }}
}
{{ end }}
